.immagine1 {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    margin-top: 50px;
    margin-bottom: 50px;
}

h2 {
    font-size: 2.7rem;
    margin-top: 40px;
}

p.bg-success.verdone
{
    line-height: 30px;
    text-align: center;
    padding: 35px;
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
}

footer p {
    text-align: center;
    background-color: rgba(32, 31, 31, 0.918);
    color: white;
    padding: 40px;
}

.passione {
    margin-top: 15vh;
    margin-bottom: 10vh;
}