a.btn-primary {
  background-color: red;
  margin: 40px;
  color: #f1f1f1;
  text-decoration: none;
  border-radius: 20%;
  padding-left: 20px;
  padding-right: 20px; }

a.btn-secondary {
  background-color: blue;
  margin: 40px;
  color: #f1f1f1;
  text-decoration: none;
  border-radius: 20%;
  padding-left: 20px;
  padding-right: 20px; }

a.btn-primary:hover, a.btn-secondary:hover {
  font-size: 40px; }

body {
  background-image: url(../img/sfondo.png); }

h1 {
  color: #f1f1f1;
  background-color: black;
  font-size: 40px;
  text-align: center; }

p {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  color: blue;
  font-size: 25px;
  margin: 40px; }

a {
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  color: red;
  font-size: 25px; }

img {
  width: 400px;
  margin-top: 40px;
  padding: 25px; }
