$colore-primario: rgb(241, 241, 241);
$colore-sfondo-titolo: black;
$grandezzafontuno: 40px;
$larghezza: 400px;
$fontuno: 'IBM Plex Sans Thai Looped', sans-serif;
$coloreparag: red;
$centrato: center;
$coloreblue: blue;
$nosott: none;
$arrotondamento: 20%;